.container-fluid {
  background-color: #00285b;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #fff;
  .app {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    .dashboard {
      background: rgba(0,40,128,0.95);
      padding: 20px 30px;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      h2 {
        font-weight: 100;
        font-size: 22px;
        padding-top: 20px;
        padding-bottom: 40px;
        letter-spacing: 0.5px;
        position: relative;
        strong {
          font-weight: 300;
        }
        &:after {
          content: "";
          width: 110px;
          height: 3px;
          bottom: 25px;
          left: 0;
          background: #fff;
          position: absolute;
        }
      }
      .add-notification {
        span {
          background: #009688;
          display: inline-block;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          text-align: center;
          box-shadow: 0 5px 5px rgba(0,0,0,0.2);
          padding-top: 4px;
          margin-right: 15px;
          margin-bottom: 50px;
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
    //notification panel
    .notification-screen {
      padding-left: 0;
      padding-right: 0;
      >div {
        background: #002066;
        height: 100%;
        position: relative;
      }
    }

  }
}
