<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid " style="background-image: url('./assets/images/notify-bg.jpg')">
  <div class=" app">
    <div class="">
      <div class="col-3 dashboard">
        <h2><strong>Notification</strong> Dashboard</h2>
        <div class="add-notification">
          <span>+</span> Add Notification
        </div>
        <app-dashboard (notifyUserNow)="notifyNowDashboard($event)"></app-dashboard>
      </div>
      <div class="col-9 offset-3 notification-screen">
        <div>
          <!--  *ngIf="notificationArr && showNow" -->
          <div>
            <ping-component></ping-component>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


