<div class="form-group">
  <div class="alert alert-danger" *ngIf='showError'>{{errorMessage}}</div>
  <div ><input type="text" placeholder="Notification header" class="form-control" [(ngModel)]="notificationMessage.header"></div>
  <div ><textarea placeholder="Notification body" class="form-control" [(ngModel)]="notificationMessage.body"></textarea></div>
  <div class="custom-checkbox">
    <ul>
      <li>
        <input type="radio" id="f-option"  name="notificationType" value="info" [(ngModel)]="notificationMessage.messageType">
        <label for="f-option">Info</label>
        <div class="check"></div>
      </li>

      <li>
        <input type="radio" id="s-option"  name="notificationType" value="warning" [(ngModel)]="notificationMessage.messageType">
        <label for="s-option">Warning</label>

        <div class="check"><div class="inside"></div></div>
      </li>

      <li>
        <input type="radio" id="t-option" name="notificationType" value="times-circle" [(ngModel)]="notificationMessage.messageType">
        <label for="t-option">Error</label>

        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
  </div>

  <div>
    <button type="button" (click)="notifyNow()"> <i class="fa fa-bullhorn"></i> Notify Now </button>
  </div>

</div>
