.alert {
  font-size: 14px;
  text-transform: capitalize;
}
input, textarea {
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  padding-left: 0;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 0;
  padding-bottom: 15px;
  font-weight: 300;
  font-size: 14px;
  &:focus {
    background: none;
    border-color: #009688;
    color: #fff;
  }
}

textarea {
  height: 80px;
  resize: none;
}

button {
  border: 1px solid #275BCD;
  background: none;
  color: #fff;
  display: block;
  border-radius: 0;
  width: 100%;
  padding: 15px 0;
  margin-top: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), inset 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  i {
    padding-right: 20px;
  }
  &:focus {
    outline: none;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.85);
}

::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.85);
}

:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255, 255, 255, 0.85);
}

:-moz-placeholder { /* Firefox 18- */
  color: rgba(255, 255, 255, 0.85);
}

.custom-checkbox {
  position: relative;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    li {
      color: rgba(255,255,255,0.8);
      display: inline-block;
      position: relative;
      float: left;

    }
  }
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  padding: 17px 25px 25px 33px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #FFFFFF;
}

ul li .check {
  display: block;
  position: absolute;
  border: 3px solid rgba(255,255,255,0.8);
  border-radius: 100%;
  height: 20px;
  width: 20px;
  top: 30px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 3px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 8px;
  width: 8px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid #0DFF92;
}

input[type=radio]:checked ~ .check::before {
  background: #0DFF92;
}

input[type=radio]:checked ~ label {
  color: #0DFF92;
}



